<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb912042514226873</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>912042514226873</string>
	<key>FacebookAutoInitEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>5e21597481507687189b4a989c681ffe</string>
	<key>FacebookDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
